body {
  font-family: 'Fira Sans', sans-serif;
}
.grid {
  display: grid;
}

.grid.normal {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5px;
}

.box {
  color: white;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.box.i {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}

.box.m {
  grid-row: 3/4;
  grid-column: 2/3
}